/.venv
/__pycache__


# Unit test / coverage reports
.coverage
htmlcov
.tox

demo/data/anchor/*
demo/data/positive/*
demo/data/negative/*

jupter/data/anchor/*
jupter/data/positive/*
jupter/data/negative/*


# RabbitMQ
demo/rabbitMQ/*
